/cocos2d
/proj.android/assets
/proj.android/bin
/proj.android/gen
/proj.android/libs
/proj.android/obj
/proj.android/res
/proj.android/src
/proj.android/.settings
/proj.android/AndroidManifest.xml
/proj.android/ant.properties
/proj.android/build.xml
/proj.android/build-cfg.json
/proj.android/build_native.py
/proj.android/proguard-project.txt
/proj.android/project.properties
/proj.android/.classpath
/proj.android/.cproject
/proj.android/.project
/proj.android/.pydevproject
/proj.android/jni/hellocpp
/proj.android/jni/Application.mk
/proj.android/local.properties

# Remove the Windows Thumbs.db
Thumbs.db
Classes/Thumbs.db
privateResources/Thumbs.db
Resources/Thumbs.db

