<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>HP.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,1286},{199,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,199}}</string>
                <key>sourceSize</key>
                <string>{199,199}</string>
            </dict>
            <key>HPBottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,1286},{201,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,201}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>backToMenuButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1468},{214,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,44}}</string>
                <key>sourceSize</key>
                <string>{214,44}</string>
            </dict>
            <key>bigBomb.png</key>
            <dict>
                <key>frame</key>
                <string>{{1459,1124},{112,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,219}}</string>
                <key>sourceSize</key>
                <string>{112,219}</string>
            </dict>
            <key>bigBombGet.png</key>
            <dict>
                <key>frame</key>
                <string>{{1760,1260},{121,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,95}}</string>
                <key>sourceSize</key>
                <string>{121,95}</string>
            </dict>
            <key>blank.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1286},{180,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,320}}</string>
                <key>sourceSize</key>
                <string>{180,320}</string>
            </dict>
            <key>bossWarning.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,1286},{225,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,148}}</string>
                <key>sourceSize</key>
                <string>{225,148}</string>
            </dict>
            <key>bullet1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1770,1464},{34,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,85}}</string>
                <key>sourceSize</key>
                <string>{34,85}</string>
            </dict>
            <key>bullet2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1055,1443},{50,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,107}}</string>
                <key>sourceSize</key>
                <string>{50,107}</string>
            </dict>
            <key>bullet3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1510,1395},{65,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,112}}</string>
                <key>sourceSize</key>
                <string>{65,112}</string>
            </dict>
            <key>bulletLevelUp1.png</key>
            <dict>
                <key>frame</key>
                <string>{{925,1436},{122,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,28}}</string>
                <key>sourceSize</key>
                <string>{122,28}</string>
            </dict>
            <key>bulletLevelUp2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1412,1509},{122,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,28}}</string>
                <key>sourceSize</key>
                <string>{122,28}</string>
            </dict>
            <key>bulletUpgrade.png</key>
            <dict>
                <key>frame</key>
                <string>{{1770,1383},{79,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,79}}</string>
                <key>sourceSize</key>
                <string>{79,79}</string>
            </dict>
            <key>enemy1.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,1436},{158,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{158,118}}</string>
                <key>sourceSize</key>
                <string>{158,120}</string>
            </dict>
            <key>enemy2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1680,1124},{175,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{175,134}}</string>
                <key>sourceSize</key>
                <string>{179,134}</string>
            </dict>
            <key>enemy3.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,1487},{71,143}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,143}}</string>
                <key>sourceSize</key>
                <string>{73,145}</string>
            </dict>
            <key>enemyBoss.png</key>
            <dict>
                <key>frame</key>
                <string>{{1088,644},{568,369}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{568,369}}</string>
                <key>sourceSize</key>
                <string>{570,369}</string>
            </dict>
            <key>enemyBossBroken.png</key>
            <dict>
                <key>frame</key>
                <string>{{1459,382},{568,369}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{568,369}}</string>
                <key>sourceSize</key>
                <string>{570,369}</string>
            </dict>
            <key>enemyBossBrokenMore.png</key>
            <dict>
                <key>frame</key>
                <string>{{1459,753},{568,369}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{568,369}}</string>
                <key>sourceSize</key>
                <string>{570,369}</string>
            </dict>
            <key>enemyBulletSet.png</key>
            <dict>
                <key>frame</key>
                <string>{{1857,1458},{61,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,63}}</string>
                <key>sourceSize</key>
                <string>{61,63}</string>
            </dict>
            <key>explosion01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1922,1458},{53,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,53}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>explosion02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1577,1417},{97,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,97}}</string>
                <key>sourceSize</key>
                <string>{97,97}</string>
            </dict>
            <key>explosion03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1269,1417},{141,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,141}}</string>
                <key>sourceSize</key>
                <string>{141,141}</string>
            </dict>
            <key>explosion04.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,1286},{155,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,155}}</string>
                <key>sourceSize</key>
                <string>{155,155}</string>
            </dict>
            <key>explosion05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1289,1214},{155,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,155}}</string>
                <key>sourceSize</key>
                <string>{155,155}</string>
            </dict>
            <key>explosion06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1446,1238},{155,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,155}}</string>
                <key>sourceSize</key>
                <string>{155,155}</string>
            </dict>
            <key>explosion07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1603,1260},{155,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,155}}</string>
                <key>sourceSize</key>
                <string>{155,155}</string>
            </dict>
            <key>explosion08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1857,1301},{155,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,155}}</string>
                <key>sourceSize</key>
                <string>{155,155}</string>
            </dict>
            <key>explosion09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1112,1391},{155,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,155}}</string>
                <key>sourceSize</key>
                <string>{155,155}</string>
            </dict>
            <key>getBigBomb1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1289,1371},{107,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,30}}</string>
                <key>sourceSize</key>
                <string>{107,30}</string>
            </dict>
            <key>getBigBomb2.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,1468},{103,30}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{103,30}}</string>
                <key>sourceSize</key>
                <string>{107,30}</string>
            </dict>
            <key>img_bg_1.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{360,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,640}}</string>
                <key>sourceSize</key>
                <string>{360,640}</string>
            </dict>
            <key>img_bg_2.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{360,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,640}}</string>
                <key>sourceSize</key>
                <string>{360,640}</string>
            </dict>
            <key>img_bg_3.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{364,2},{360,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,640}}</string>
                <key>sourceSize</key>
                <string>{360,640}</string>
            </dict>
            <key>img_bg_4.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{364,644},{360,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,640}}</string>
                <key>sourceSize</key>
                <string>{360,640}</string>
            </dict>
            <key>img_bg_5.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{726,2},{360,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,640}}</string>
                <key>sourceSize</key>
                <string>{360,640}</string>
            </dict>
            <key>img_bg_welcome.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{726,644},{360,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,640}}</string>
                <key>sourceSize</key>
                <string>{360,640}</string>
            </dict>
            <key>launchButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{1857,1124},{175,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,175}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>launchButtonUnable.png</key>
            <dict>
                <key>frame</key>
                <string>{{1112,1214},{175,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,175}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>locked.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,1443},{98,114}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,7},{98,114}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1450,2},{584,378}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{584,378}}</string>
                <key>sourceSize</key>
                <string>{584,378}</string>
            </dict>
            <key>myPlane.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,1487},{91,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,71}}</string>
                <key>sourceSize</key>
                <string>{91,71}</string>
            </dict>
            <key>pauseButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{1676,1417},{92,93}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{92,93}}</string>
                <key>sourceSize</key>
                <string>{100,97}</string>
            </dict>
            <key>restartGameButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1514},{171,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,44}}</string>
                <key>sourceSize</key>
                <string>{171,44}</string>
            </dict>
            <key>selectSceneBackground.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1088,2},{360,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,640}}</string>
                <key>sourceSize</key>
                <string>{360,640}</string>
            </dict>
            <key>selectStartButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,1489},{149,59}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{149,59}}</string>
                <key>sourceSize</key>
                <string>{161,67}</string>
            </dict>
            <key>startButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{1412,1395},{96,112}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{96,112}}</string>
                <key>sourceSize</key>
                <string>{100,112}</string>
            </dict>
            <key>startGameButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,1514},{171,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,44}}</string>
                <key>sourceSize</key>
                <string>{171,44}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>texture.png</string>
            <key>size</key>
            <string>{2036,1560}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dd88e70c9291481ee719e5bed35cdcd6:7108058307ecb8c5c2a6f9b315b90ebf:ef86396999e18097aad14daa6638d5f9$</string>
            <key>textureFileName</key>
            <string>texture.png</string>
        </dict>
    </dict>
</plist>
